<%= form_for [current_user, user_institutions] do |f| %>
  Institutions:
  <ul>
    <%= f.fields_for :user_institutions do |ui| %>
      <li>
        <%= ui.label :institution_id %>
        <%= ui.text_field :institution_id %>
 
        <%= ui.label :institution_type %>
        <%= ui.text_field :institution_type %>
      </li>
    <% end %>
  </ul>
<% end %>
