<h1>Connections</h1>

<h2>People you follow</h2>
<ul>
  <% @targets.each do |target| %>
    <li>
      <% if target.image %>
        <%= image_tag(target.image, :class => 'network_pic') %>
        <span><%= link_to target.name, user_path(target) %></span>
      <% else %>
        <%= link_to target.name, user_path(target) %>
      <% end %>
    </li>
  <% end %>
</ul>




<h2>Your Followers</h2>
<ul>
  <% @followers.each do |follower| %>
    <li>
      <% if follower.image %>
        <%= image_tag(follower.image, :class => 'network_pic') %>
        <span><%= link_to follower.name, user_path(follower) %></span>
      <% else %>
        <%= link_to follower.name, user_path(follower) %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Inspiring People In the Community</h2>
<ul>
  <% @users_to_view.each do |user| %>
    <li>
      <% if user.image %>
        <%= image_tag(user.image, :class => 'network_pic') %>
        <span><%= link_to user.name, user_path(user) %></span>
      <% else %>
        <%= link_to user.name, user_path(user) %>
      <% end %>
    </li>
  <% end %>
</ul>