<section class="profile-feed col-1">
  <div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
      <div class="panel-title">Details</div>
    </div>
    <div class="panel-body">
        <div class="col-sm-6 left">
          <h5 class="title">Biography</h5>
          <p><%= @user.bio %></p>
        </div> 

        <div class="col-sm-6 right">
          <h5 class="title">Social Media</h5>
          <div class="col-sm-4">
            <i class="entypo-facebook"></i>
            <%= link_to "Facebook", @user.facebook, :target => "_blank" %>
          </div>
          <div class="col-sm-4">
            <i class="entypo-twitter"></i>
            <%= link_to "Twitter", @user.twitter, :target => "_blank" %>
          </div>
          <div class="col-sm-4">
            <i class="entypo-github"></i>
            <%= link_to "Github", @user.github, :target => "_blank" %>
          </div>
        </div> 
    </div>
  </div>

  <div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
      <div class="panel-title">Professional Experience</div>
    </div>
    <div class="panel-body">
      <ul>
        <% @user.institutions.where(:user_institutions => { :institution_type => "work" }).each do |institution| %>
          <li><%= institution.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel panel-primary" data-collapsed="0">
    <div class="panel-heading">
      <div class="panel-title">Education</div>
    </div>
    <div class="panel-body">
      <ul>
        <% @user.institutions.where(:user_institutions => { :institution_type => "school" }).each do |institution| %>
          <li><%= institution.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</section>