<div class="panel panel-primary" data-collapsed="0">

  <div class="panel-heading">
    <div class="panel-title">User Information</div>
  </div>
  
  <div class="panel-body">
   
    <%= form_for @user, :html => {:class => "form-horizontal form-groups-bordered", :role => 'form'} do |f| %>

      <div class="form-group">
        <%= f.label :name, "Display Name", :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :name, :class => "form-control", :id => "display-name" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :bio, "Biography", :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.text_area :bio, :class => "form-control", :id => "bio", :value => @user.bio %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :facebook, "Facebook", :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.url_field :facebook, :class => "form-control", :id => "facebook" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :twitter, "Twitter", :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.url_field :twitter, :class => "form-control", :id => "twitter" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :github, "Github", :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.url_field :github, :class => "form-control", :id => "github" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <%= f.submit "Update", :class => "btn btn-default" %>
        </div>
      </div>

    <% end %>

  </div>
</div>

<!-- User Work/Education History Form -->

<div class="panel panel-primary" data-collapsed="0">

  <div class="panel-heading">
    <div class="panel-title">Work and Education History</div>
  </div>
  
  <div class="panel-body">


  <% @user.user_institutions.each do |ui| %>
    <%= ui.institution.name %>

    <%= form_for ui, :html => {:class => "form-horizontal form-groups-bordered", :role => 'form'}  do |ui_form| %>
      <div class="form-group">
        <%= ui_form.label :institution_type, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <div class="radio">
            <label>
              <input type="radio" name="institution_type" id="optionsRadios1" value="school" <%= "checked" if ui.institution_type == "school" %> >School
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="institution_type" id="optionsRadios2" value="work" <%= "checked" if ui.institution_type == "work" %>>Work
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= ui_form.label :start_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= ui_form.date_field :start_date, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= ui_form.label :end_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= ui_form.date_field :end_date, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <%= ui_form.submit "Update", :class => "btn btn-default" %>
          <%= link_to "Delete", user_institution_path(ui), :method => :delete, :class => "btn btn-default" %>
        </div>
      </div>

    <% end %>
  <% end %>
  </div>
</div>

<!-- Add institution -->
<div class="panel panel-primary" data-collapsed="0">

  <div class="panel-heading">
    <div class="panel-title">Add an institution</div>
  </div>
  
  <div class="panel-body">

    <%= form_for UserInstitution.new, :html => {:class => "form-horizontal form-groups-bordered", :role => 'form'} do |f| %>
      <div class="form-group">
        <label class="col-sm-3 control-label">Institution</label>
        <div class="col-sm-5">
          <%= select_tag(:institution_id, options_for_select(@institutions_array, @inst_id), name: "user_institution[institution_id]", :class => "form-control") %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :institution_type, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <div class="radio">
            <label>
              <input type="radio" name="user_institution[institution_type]" id="optionsRadios1" value="school" checked>School
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="user_institution[institution_type]" id="optionsRadios2" value="work">Work
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.date_field :start_date, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :end_date, :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.date_field :end_date, :class => "form-control" %>
        </div>
      </div>

      <%= f.hidden_field :user_id, :value => @user.id %>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <%= f.submit "Create", :class => "btn btn-default" %>
        </div>
      </div>


    <% end %>

    <%= form_for Institution.new, :html => {:class => "form-horizontal form-groups-bordered", :role => 'form'} do |f| %>
      <div class="form-group">
        <%= f.label :name, "Don't see your school or workplace? Add it here:", :class => "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
          <%= f.submit "Create", :class => "btn btn-default" %>
        </div>
      </div>
    <% end %>

  </div>
</div>