<h3>My Dashboard</h3><br>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><%= link_to "Network Activity", connections_path, :class => "dash-link" %></div>
			</div>
			<div class="panel-body">
				<ul class='newsfeed'>
					<% Newsfeed.new(current_user).display_feed.each do |event, time, klass| %>
						<% if klass == 'connection' %>
							<li><i class="entypo-user"></i><%= event.follower.name %> followed you on <%= event.created_at.strftime("%m/%d/%y") %> at <%= event.created_at.strftime("%l:%M %p") %></li>
						<% else %>
							<li><i class="entypo-pencil"></i><%= event.user.name %> added a <%= link_to "new post", post_path(event.id) %> on <%= event.created_at.strftime("%m/%d/%y") %> at <%= event.created_at.strftime("%l:%M %p") %></li>
						<% end %>
					<% end %>
				</ul>
				<!-- <p>[Placeholder] Ellen accepted your mentorship request at XX:XX on XX/XX</p>
				<p>[Placeholder] Your connection Amanda posted a new resource filed under Career at XX:XX on XX/XX</p>
				<p>[Placeholder] 23 people in your network have saved "How to be a good team member" to read for later</p>
				<p>[Placeholder] Carly Smith invited you to Chicks on Rails meetup</p> -->
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Resources</div>
			</div>
			<div class="panel-body">
				<p>Most clicked resources that may interest you:</p>
				<ul>
					<li>[google analytics]</li>
					<li>Resource 1</li>
					<li>Resource 2</li>
				</ul>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><%= link_to "Trending Forum Discussions", posts_path, :class => "dash-link" %></div>
				<div class="panel-options">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#all-forum" data-toggle="tab">All</a></li>
						<li class=""><a href="#code-forum" data-toggle="tab">Code</a></li>
						<li class=""><a href="#career-forum" data-toggle="tab">Career</a></li>
						<li class=""><a href="#advocacy-forum" data-toggle="tab">Advocacy</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<%= link_to "See all", posts_path %>
					<% %w[all code career advocacy].each do |goal| %>
						<div class="tab-pane active" id="<%= goal %>-forum">
							<%= render :partial => 'posts/post', :collection => current_user.feed(goal) %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>