<h3>My Dashboard</h3><br>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title"><%= link_to "Network Activity", connections_path %></div>
			</div>
			<div class="panel-body">
				<p>[Placeholder] Ellen accepted your mentorship request at XX:XX on XX/XX</p>
				<p>[Placeholder] Your connection Amanda posted a new resource filed under Career at XX:XX on XX/XX</p>
				<p>[Placeholder] 23 people in your network have saved "How to be a good team member" to read for later</p>
				<p>[Placeholder] Carly Smith invited you to Chicks on Rails meetup</p>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Resources</div>
			</div>
			<div class="panel-body">
				<p>Most clicked resources that may interest you:</p>
				<ul>
					<li>[google analytics]</li>
					<li>Resource 1</li>
					<li>Resource 2</li>
				</ul>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Trending Forum Discussions</div>
				<div class="panel-options">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#all-forum" data-toggle="tab">All</a></li>
						<li class=""><a href="#code-forum" data-toggle="tab">Code</a></li>
						<li class=""><a href="#career-forum" data-toggle="tab">Career</a></li>
						<li class=""><a href="#advocacy-forum" data-toggle="tab">Advocacy</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<%= link_to "See all", posts_path %>
					<div class="tab-pane active" id="all-forum">
						<%= render :partial => 'posts/post', :collection => current_user.feed %>
					</div>
					<div class="tab-pane" id="code-forum">
						<%= render :partial => 'posts/post', :collection => current_user.feed('code') %>
					</div>
					<div class="tab-pane" id="career-forum">
						<%= render :partial => 'posts/post', :collection => current_user.feed('career') %>
					</div>
					<div class="tab-pane" id="advocacy-forum">
						<%= render :partial => 'posts/post', :collection => current_user.feed('advocacy') %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>