<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<!-- <div class="panel-title"></div> -->
				<div class="panel-options">
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<%= render @post %>
					<%= link_to "| Delete", post_path(@post), :method => :delete if @post.user_id == current_user.id %>
					<%= link_to "Add Comment", "#", :class => "right new-comment-link", :"data-id" => @post.id %>
				</div>
			</div>
		</div>
		<%= render 'child_post_form', :post => Post.new, :parent_post_id => @post.id, :parent_post_goal => @post.goal_id %>
		
		<% if @post.child_posts.length != 0 %>
				<% @post.child_posts.order("created_at ASC").each do |post| %>
			<div class="panel panel-primary post-index subpost">
				<%= render post %>
			</div>
				<% end %>
		<% end %>


	</div>
</div>