<div class="sidebar-menu">
  <div class="sidebar-menu-inner">
    <header class="logo-env">

      <!-- logo -->
      <div class="logo">
        <h2 id="site-logo">
          <%= link_to("Diversitech", root_path) %>
        </h2>
      </div>

      <!-- logo collapse icon -->
      <div class="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
          <i class="entypo-menu"></i>
        </a>
      </div>

              
      <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
      <div class="sidebar-mobile-menu visible-xs">
        <a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
          <i class="entypo-menu"></i>
        </a>
      </div>
    </header>    
    <ul id="main-menu" class="main-menu">
      <!-- add class "multiple-expanded" to allow multiple submenus to open -->
      <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
      <li class="root-level">
        <a href="/">
          <i class="entypo-gauge"></i>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="<%= user_path(current_user) %>">
          <i class="entypo-user"></i>
          <span class="title">My Profile</span>
        </a>
      </li>
      <li>
        <a href="<%= edit_user_registration_path %>" target="_blank">
          <i class="entypo-cog"></i>
          <span class="title">Settings</span>
        </a>
      </li>
      <li>
        <a href="<%= goal_posts_path(1) %>">
          <i class="entypo-pencil"></i>
          <span class="title">Forum</span>
        </a>
      </li>
      <li>
        <a href="mailbox.html">
          <i class="entypo-mail"></i>
          <span class="title">Mailbox</span>
          <span class="badge badge-secondary">8</span>
        </a>
        <ul>
          <li>
            <a href="mailbox.html">
              <i class="entypo-inbox"></i>
              <span class="title">Inbox</span>
            </a>
          </li>
          <li>
            <a href="mailbox-compose.html">
              <i class="entypo-pencil"></i>
              <span class="title">Compose Message</span>
            </a>
          </li>
          <li>
            <a href="mailbox-message.html">
              <i class="entypo-attach"></i>
              <span class="title">View Message</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="root-level has-sub opened">
        <a href="#">
          <i class="entypo-doc-text"></i>
          <span class="title">Points of Interest</span>
        </a>
        <ul>
          <li>
            <a href="<%= goal_path(1) %>">
              <span class="title">Code</span>
            </a>
          </li>
          <li>
            <a href="<%= goal_path(2) %>">
              <span class="title">Career</span>
            </a>
          </li>
          <li>
            <a href="<%= goal_path(3) %>">
              <span class="title">Advocacy</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div> <!-- END SIDEBARE-MENU-INNER -->
</div> <!-- END SIDEBARE-MENU -->
