<% if user_signed_in? %>
<div class="sidebar" id="sidebar">
  <div>
    <a href="/">Diversitech Logo</a>
    <hr>
    <p><%= image_tag(current_user.image, :id => 'profile_pic') %></p>
    <h2>Welcome, <%= current_user.first_name %>!</h2>
  </div>
  <div class="user_info">
  <h4>My Profile</h4>
  <div class="goals">
    <% Goal.all.each do |goal| %>
    <!-- once user_goals is implemented, only the user's selected goals should appear here. -->
      <%= link_to goal.name,  goal_path(goal) %>
    <% end %>
  </div>

    <h4>Education</h4>
      <ul>
        <% current_user.institutions.where('institution_type = "School"').each do |institution| %>
          <li><%= institution.name %></li>
        <% end %>
      </ul>
    <h4>Work History</h4>
      <ul>
        <% current_user.institutions.where('institution_type = "Work"').each do |institution| %>
          <li><%= institution.name %></li>
        <% end %>
      </ul>

    <h4><%= link_to "Settings", "/" %></h4>
  </div>
  <div class="footer">
  <hr>
    <div id="footer-links">
      <%= link_to "About", "#", target: "_blank" %>
      <span class="separator">&bull;</span>
      <%= link_to "Fork Me on Github", "http://www.github.com/diversitech", target: "_blank" %>
      <span class="separator">&bull;</span>
      <%= link_to "Made with <3 at the Flatiron School", "http://flatironschool.com/", target: "_blank" %>
    </div>
  </div>
</div>
<% end %>