<% if user_signed_in? %>
<div class="sidebar" id="sidebar">
  <div>
    <a href="/">Diversitech Logo</a>
    <hr>
    <p><%= image_tag(current_user.image, :id => 'profile_pic') %></p>
    <h2>Welcome, <%= current_user.first_name %>!</h2>
  </div>
    
    <h4>Quick Links:</h4>
    <div class="goals">
      <% Goal.all.each do |goal| %>
      <!-- once user_goals is implemented, only the user's selected goals should appear here. -->
        <%= link_to goal.name.capitalize,  goal_path(goal) %>
      <% end %>
    </div>
    
    <br><h5><%= link_to "My Profile", user_path(current_user) %> &#8226 <%= link_to "Settings", "/" %></h5>

  <div class="user_info">
  <!-- this section is aligned left -->
  </div>

  <div class="footer">
  <hr>
    <div id="footer-links">
      <a href="/">About</a> <span class="separator">&bull;</span>
      <a href="http://www.github.com/diversitech" target="_blank">Fork Me on GitHub</a>
    </div>
  </div>
</div>
<% end %>