<!DOCTYPE html>
<html>
<head>
  <title>ctrl-F</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
  <% if user_signed_in? %>
<body class="page-body">
  <div class="page-container">
    <div class="sidebar-menu">
        <%= render 'layouts/sidebar' %>
    </div>
    <div class="main-content">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash_messages' if !flash.empty? %>
      <%= yield %>
      <footer class="main">
        <%= render 'layouts/footer' %>
      </footer>
    </div> <!-- END MAIN CONTENT -->
  </div>
</body>
  <% else %>
    <%= yield %>
  <% end %>
</html>

